<link rel="stylesheet" href="css.css" type="text/css" />
<link rel="stylesheet" href="play.css" type="text/css" />

<style type="text/css">

  div#player_1_current_health {
    padding-left: <%= @game.player_one.hp %>%;
  }

  div#player_2_current_health {
    padding-left: <%= @game.player_two.hp %>%;
  }

</style>

<center>
  <div class="game_zone">
    <h1><%= @game.player_one.name%> vs <%= @game.player_two.name %></h1>

    <div class="player" id="player1">
      <img width="600" height="600" src="http://audubonnatureinstitute.org/images/600x450/zoo/flamingo-600.jpg">
      <h2><%= @game.player_one.name %>: <%=@game.player_one.hp %> HP</h2>
      <br>
      <div class="healthBar" id="player_1_health">
        <div class="health" id="player_1_current_health"></div>
      </div>
    </div>

    <div class="player" id="player2">
      <img width="600" height="600" src="http://yourshot.nationalgeographic.com/u/ss/fQYSUbVfts-T7pS2VP2wnKyN8wxywmXtY0-FwsgxpcdRPMDawG6vOZmb8sJiak5GBaAdPdr8KycH479bAMjS/">
      <h2><%= @game.player_two.name %>: <%= @game.player_two.hp %> HP</h2>
      <br>
      <div class="healthBar" id="player_2_health">
        <div class="health" id="player_2_current_health"></div>
      </div>
    </div>

    <div id="is_playing">
      <h2><%=@game.current_player.name%> is playing:</h2>
    </div>

    <form action="/attack" method="post">
      <button type="submit">Attack!</button>
    </form>

  </div>
</center>
